# QA Report - HU-021 Consultar precio de producto por ID

**Fecha:** 05/05/2026  
**QA:** Lizbeth  
**Sprint:** 3  
**Estado:** Con errores

---

## Errores encontrados con ESLint

Comando ejecutado:
npm run lint

### Resultado


 | Línea | Tipo  | Descripción                            | Regla    |
|-------|-------|----------------------------------------|----------|
| 19:6  | error | 'console' is not defined               | no-undef |
| 22:24 | error | Expected '===' instead of '=='         | eqeqeq   |
| 28:20 | error | Expected '===' instead of '=='         | eqeqeq   |
| 29:20 | error | Expected '===' instead of '=='         | eqeqeq   |
| 43:1  | error | 'console' is not defined               | no-undef |
| 51:3  | error | 'console' is not defined               | no-undef |